<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <script src="https://kit.fontawesome.com/fbd4ee8b77.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/css/home.css">
</head>
<body>
    <h1 id="contact-heading">
    <i class="fas fa-address-book"></i>    
    Contacts</h1>
    <div id="list-form-container">
        <ul id="list">
            <% for(let i of contact_list) { %>
                <li class="list-item">
                    <div class="contact-details">
                        <p class="contact-name"><%= i.name %></p>
                        <p class="contact-phone"><%= i.phone %></p>

                    </div>
                    

                    <div class="delete-button">
                        <a href="/delete-contact/?id=<%= i._id %>">
                            <i class="fas fa-window-close"></i>
                        </a>
                    </div>
                </li>
                
            <% } %>
        </ul>

        <form id="contact-form" action="/create-contact" method="POST">
            <input type="text" name="name" placeholder="Enter Name" required>
            <input type="text" name="phone" placeholder="Enter Phone No" required>
            <button type="submit">Add</button>
    
        </form>
    
    </div>
    

    <script type="text/javascript" src="/js/home.js"></script>
</body>
</html>